{
	on_demand_tls {
		ask http://localhost:4000/internal/ask
	}
}

livinity.io {
	tls {
		on_demand
	}
	reverse_proxy localhost:3000
}

*.livinity.io {
	tls {
		on_demand
	}
	reverse_proxy localhost:4000 {
		header_up X-Forwarded-Proto {scheme}
		header_up X-Real-IP {remote_host}
	}
}
