{
	on_demand_tls {
		ask http://localhost:4000/internal/ask
	}
}

livinity.io {
	tls {
		on_demand
	}
	handle /downloads/* {
		root * /opt
		file_server
	}
	handle {
		reverse_proxy localhost:3000
	}
}

apps.livinity.io {
	tls {
		on_demand
	}
	reverse_proxy localhost:3000
}

changelog.livinity.io {
	tls {
		on_demand
	}
	reverse_proxy localhost:3002
}

*.livinity.io {
	tls {
		on_demand
	}
	@marketplace host mcp.livinity.io
	handle @marketplace {
		reverse_proxy localhost:4100
	}
	handle {
		reverse_proxy localhost:4000 {
			header_up X-Real-IP {remote_host}
		}
	}
}

*.*.livinity.io {
	tls {
		on_demand
	}
	reverse_proxy localhost:4000 {
		header_up X-Real-IP {remote_host}
	}
}
