version: "3.7"

services:
  tor_proxy:
    container_name: tor_proxy
    image: livos/tor:0.4.7.8
    user: "1000:1000"
    restart: on-failure
    volumes:
      - ${LIVINITY_TORRC}:/etc/tor/torrc:ro
      - ${LIVINITY_DATA_DIR}/tor/data:/data
    environment:
      HOME: "/tmp"
    networks:
      default:
        ipv4_address: $TOR_PROXY_IP
  auth:
    container_name: auth
    image: livos/auth-server:1.0.5
    user: "1000:1000"
    restart: on-failure
    environment:
      PORT: $AUTH_PORT
      UMBREL_AUTH_SECRET: $LIVINITY_AUTH_SECRET
      MANAGER_IP: $MANAGER_IP
      MANAGER_PORT: 3006
      DASHBOARD_IP: $DASHBOARD_IP
      DASHBOARD_PORT: 3004
      JWT_SECRET: $JWT_SECRET
      LIVINITYD_RPC_HOST: $LIVINITYD_RPC_HOST
    volumes:
      - ${LIVINITY_DATA_DIR}/tor/data:/var/lib/tor:ro
      - ${LIVINITY_DATA_DIR}/app-data:/app-data:ro
      - ${LIVINITY_DATA_DIR}:/data:ro
    ports:
      - "${AUTH_PORT}:${AUTH_PORT}"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      default:
        ipv4_address: $AUTH_IP
networks:
  default:
    name: livinity_main_network
    ipam:
      driver: default
      config:
        - subnet: "$NETWORK_IP/16"
