version: '3.7'

services:
  tor_server:
    image: dperson/torproxy:latest
    user: '1000:1000'
    restart: on-failure
    volumes:
      - \${TOR_ENTRYPOINT_SCRIPT}:/livinity/entrypoint.sh
      - \${TOR_DATA_DIR}:/data
    environment:
      HOME: '/tmp'
      HS_DIR: '\${TOR_HS_APP_DIR}'
      HS_PORTS: '\${TOR_HS_PORTS}'
    entrypoint: '/livinity/entrypoint.sh'
